<log4net>
    <appender name="File1Appender" type="log4net.Appender.FileAppender">
        <file value="info.log"/>
        <appendToFile value="true"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %message%newline"/>
        </layout>
    </appender>
    <appender name="File2Appender" type="log4net.Appender.FileAppender">
        <file value="error.log"/>
        <appendToFile value="true"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %message%newline"/>
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="ERROR"/>
            <levelMax value="FATAL"/>
        </filter>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
        </layout>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="File1Appender"/>
        <appender-ref ref="File2Appender"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>
</log4net>